<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<h2>Privacy Policy</h3>
		<p>This page informs you of our policies regarding the collection, use and disclosure of
Personal Information we receive from users of the Site.
We use your Personal Information only for providing and improving the Site. By using the Site, you
agree to the collection and use of information in accordance with this policy</p>
<br>


	<h3>Information Collection and Use</h3>
	<p>While using our Site, we may ask you to provide us with certain personally identifiable information
that can be used to contact or identify you.</p>
	
	
	<h3>Log data</h3>
	<p>	Like many site operators, we collect information that your browser sends whenever you visit our Site
This Log Data may include information such as your computer's Internet Protocol ("IP") address,
browser type, browser version, the pages of our Site that you visit, the time and date of your visit,
the time spent on those pages and other statistics </p>
	
	
	<h3>Communications</h3>
	<p>We may use your Personal Information to contact you with newsletters, marketing or promotional
materials </p>
	
	
	<h3>Cookies</h3>
	<p>Cookies are files with small amount of data, which may include an anonymous unique identifier.
		Cookies are sent to your browser from a web site and stored on your computer's hard drive.
		Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all
		cookies or to indicate when a cookie is being sent.</p>

	
	
	<h3>Contact us</h3>
	<p>If you have any questions about this Privacy Policy, please contact us</p>
	<br>
	



		
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>