<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<h2>Terms and Conditions</h3>
		<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using
		our website</p>
		
		<h5><b>By accessing or using the Service you agree to be bound by these Terms. If you disagree
with any part of the terms then you may not access the Service.</b></h5>
		


	<h3>Purchases</h3>
	<p>If you wish to purchase any product or service made available through the Service ("Purchase"),
you may be asked to supply certain information relevant to your Purchase including your personal details.</p>
	
	
	<h3>Changes</h3>
	<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a
revision is material we will try to provide at least 20 days' notice prior to any new terms
taking effect. What constitutes a material change will be determined at our sole discretion </p>
	
	
	<h3>Contact us</h3>
	<p>If you have any questions about this terms, please contact us</p>
	<br>
	
		
	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer"/>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>